{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forget Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/allstyles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body class="home">
<section class="forgetPage greyWrap">

    <a href="#" class="logo"><img src="{% static 'images/logo.svg' %}" height="" width="" alt="logo"></a>

    <div class="formParent">
        <img src="{% static 'images/reset-password.svg' %}" height="" width="" alt="select password" class="shapeImg">
        <div class="formWrap">
            <h1>RESET Password?</h1>
            <p>To reset your password enter your email address and click send. If you have a valid email address, you
                will receive instructions on how to reset your password.</p>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group inputWrap">
                    <input type="email" name="email" class="form-control greyInput" placeholder="Email" required>
                    <img class="icon" src="{% static 'images/email-icon.svg' %}" height="" width="" alt="email">
                </div>

                <button class="formBtn">Send</button>

            </form>
        </div>
        <button class="closeBtn"><img src="{% static 'images/close.svg' %}" height="" width="" alt="close"></button>
    </div>
</section>
<script type="text/javascript " src="{% static 'js/jquery.min.js' %} "></script>
<script src="{% static 'js/plugins.js' %} "></script>
<script src="{% static 'js/system.js' %} "></script>
</body>

</html>