{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Select Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/allstyles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body class="home">
<section class="selectPage greyWrap">

    <a href="#" class="logo"><img src="{% static 'images/logo.svg' %}" height="" width="" alt="logo"></a>

    <div class="formParent">
        <img src="{% static 'images/select-password.svg' %}" height="" width="" alt="select password" class="shapeImg">
        <div class="formWrap">
            {% if validlink %}
                <h1>SELECT PASSWORD</h1>
                <p>Please enter your new password</p>
                <form method="post">
                    {% csrf_token %}
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group inputWrap">
                        <input type="password" name="new_password1" id="id_new_password1" class="form-control greyInput"
                               placeholder="New Password" required>
                        <img class="icon" src="{% static 'images/password-icon.svg' %}" height="" width=""
                             alt="password">
                    </div>
                    <div class="form-group inputWrap">
                        <input type="password" name="new_password2" id="id_new_password2" class="form-control greyInput"
                               placeholder="Confirm Password" required>
                        <img class="icon" src="{% static 'images/password-icon.svg' %}" height="" width=""
                             alt="password">
                    </div>

                    <button class="formBtn">Confirm</button>

                </form>
            {% else %}
                <p>
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.
                </p>
            {% endif %}
        </div>
        <button class="closeBtn"><img src="{% static 'images/close.svg' %}" height="" width="" alt="close"></button>
    </div>
</section>
<script type="text/javascript " src="{% static 'js/jquery.min.js' %} "></script>
<script src="{% static 'js/plugins.js' %} "></script>
<script src="{% static 'js/system.js' %} "></script>
</body>

</html>