{% extends 'base.html' %}
{% load static %}
{% block bodyclass %}
    sidebar-active
{% endblock %}
{% block content %}

    <div class="chitchat-loader">
        <div><img src="{% static '/assets/images/logo/logo_big.png' %}" alt=""/>
            <h3>Simple, secure messaging for fast connect to world..!</h3>
        </div>
    </div>
    <div class="chitchat-container sidebar-toggle">

        <!-- Navbar -->
        {% include 'left_sidebar.html' %}

        <aside class="chitchat-left-sidebar left-disp">
{#            {% include 'recent-default.html' %}#}
            {% include 'tabs/profile_tab.html' %}
            {% include 'tabs/chat_tab.html' %}
{#            {% include 'tabs/fevorite_tab.html' %}#}
{#            {% include 'tabs/document-tab.html' %}#}
{#            {% include 'tabs/contact_list_tab.html' %}#}
{#            {% include 'tabs/notification_tab.html' %}#}
            {% include 'tabs/settings_tab.html' %}
{#            {% include 'tabs/status_tab.html' %}#}
        </aside>
        <div class="chitchat-main small-sidebar" id="content">
            {% include 'content/chat_content.html' %}
{#            {% include 'content/call_content.html' %}#}
{#            {% include 'content/contact_content.html' %}#}
        </div>
        {% include 'right_sidebar.html' %}
        {% include 'app_sidebar.html' %}
    </div>

    {#  modals  #}
    {% include 'modals/add_contact_modal.html' %}
    {% include 'modals/pol_modal.html' %}
    {% include 'modals/notes_modal.html' %}
    {% include 'modals/reminder_modal.html' %}
    {% include 'modals/snippet_modal.html' %}
    {% include 'modals/audio_call_modal.html' %}
    {% include 'modals/confer_call_modal.html' %}
    {% include 'modals/audio_rcv_call_modal.html' %}
    {% include 'modals/add_call_modal.html' %}
    {% include 'modals/create_todo_modal.html' %}
    {% include 'modals/msg_chat_modal.html' %}
    {% include 'modals/msg_call_modal.html' %}


{% endblock %}




