{% load static %}

<nav class="main-nav on custom-scroll">
    <div class="logo-warpper"><a href="{% url 'home' %}"><img src="{% static '/assets/images/logo/logo.png' %}"
                                                              alt="logo"/></a></div>
    <div class="sidebar-main">
        <ul class="sidebar-top">
            {#        <li><a class="button-effect" href="status" data-tippy-content="status" data-intro="Check Status here">#}
            {#            <div class="user-popup status one">#}
            {#              <div>#}
            {#                  <img class="bg-img" src="{% static '/assets/images/avtar/2.jpg' %}" alt="Avatar"/>#}
            {#              </div>#}
            {#            </div></a>#}
            {#        </li>#}
            <li>
                <a class="button-effect" href="profile" data-tippy-content="profile" data-intro="Check Profile here">
                    <div class="user-popup status one">
                        <div>
                            <img class="bg-img" src="{% static '/assets/images/avtar/2.jpg' %}" alt="Avatar"/>
                        </div>
                    </div>
                </a>
            </li>
            {#        <li><a class="icon-btn btn-light button-effect" href="favourite" data-tippy-content="Favourite"><i class="fa fa-star">               </i></a></li>#}
            {#        <li><a class="icon-btn btn-light button-effect" href="document" data-tippy-content="Document"> <i class="fa fa-file-text">       </i></a></li>#}
            {#        <li><a class="icon-btn btn-light button-effect" href="contact-list" data-tippy-content="Contact List"> <i class="fa fa-users">  </i></a></li>#}
            {#        <li>#}
            {#          <div class="dot-btn dot-danger grow"><a class="icon-btn btn-light button-effect" href="notification" data-tippy-content="Notification"> <i class="fa fa-bell"></i></a></div>#}
            {#        </li>#}
            <li><a class="icon-btn btn-light button-effect" href="chat-content" data-tippy-content="Chat"
                   data-intro="Chat"> <i class="fa fa-comments"></i></a></li>
            <li><a class="icon-btn btn-light button-effect" href="settings" data-tippy-content="Setting"
                   data-intro="You can change settings by clicking here"> <i class="fa fa-cog"></i></a></li>
            <li><a class="icon-btn btn-light" href="{% url 'logout' %}" data-tippy-content=" SignOut"> <i
                    class="fa fa-power-off"> </i></a></li>
        </ul>
{#        <ul class="sidebar-bottom">#}
            {#        <li><a class="icon-btn btn-light button-effect mode" href="#" data-tippy-content="Theme Mode" data-intro="Change mode"><i class="fa fa-moon-o"></i></a></li>#}
{#            <li><a class="icon-btn btn-light" href="login.html" data-tippy-content=" SignOut"> <i#}
{#                    class="fa fa-power-off"> </i></a></li>#}
{#        </ul>#}
    </div>
</nav>