{% load static  %}
<aside class="chitchat-right-sidebar" id="slide-menu">
        <div class="custom-scroll right-sidebar">
          <div class="contact-profile">
            <div class="theme-title">
              <div class="media">
                <div>
                  <h2>Profile</h2>
                  <h4>Personal Information</h4>
                </div>
                <div class="media-body text-end">   <a class="icon-btn btn-outline-light btn-sm close-profile ms-3" href="#"> <i data-feather="x"> </i></a></div>
              </div>
            </div>
            <div class="details">
              <div class="contact-top"><img class="bg-img" src="{% static 'assets/images/avtar/2.jpg' %}" alt=""/></div>
              <div class="name">
                <h3>jimy</h3>
                <h6>Add Description</h6>
              </div>
              <ul class="medialogo">
                <li><a class="icon-btn btn-danger button-effect" href="#"><i class="fa fa-google"></i></a></li>
                <li><a class="icon-btn btn-primary button-effect" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="icon-btn btn-facebook button-effect" href="#"><i class="fa fa-facebook-f"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="document">
            <div class="filter-block">
              <div class="collapse-block open">
                <h5 class="block-title">Shared Document
                  <label class="badge badge-success sm ms-2">3</label>
                </h5>
                <div class="block-content">
                  <ul class="document-list">
                    <li><i class="ti-folder font-danger"></i>
                      <h5>Simple_practice_project-zip</h5>
                    </li>
                    <li><i class="ti-write font-success"></i>
                      <h5>Word_Map-jpg</h5>
                    </li>
                    <li><i class="ti-zip font-primary"></i>
                      <h5>Latest_Design_portfolio.pdf</h5>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="media-gallery portfolio-section grid-portfolio">
            <div class="collapse-block open">
              <h5 class="block-title">Shared Media
                <label class="badge badge-primary sm ms-2">2</label>
              </h5>
              <div class="block-content">
                <div class="row share-media zoom-gallery">
                  <div class="col-12">
                    <h6 class="mb-2">22/03/2019</h6>
                  </div>
                  <div class="col-4 isotopeSelector filter">
                    <div class="media-big">
                      <div class="overlay">
                        <div class="border-portfolio"><a href="{% static 'assets/images/gallery/1.jpg' %}">
                            <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="{% static 'assets/images/gallery/1.jpg' %}" alt="portfolio-image"/></a></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="media-small isotopeSelector filter">
                      <div class="overlay">
                        <div class="border-portfolio"><a href="{% static 'assets/images/gallery/2.jpg' %}">
                            <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="{% static 'assets/images/gallery/2.jpg' %}" alt="portfolio-image"/></a></div>
                      </div>
                    </div>
                    <div class="media-small isotopeSelector filter">
                      <div class="overlay">
                        <div class="border-portfolio"><a href="{% static 'assets/images/gallery/3.jpg' %}">
                            <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="{% static 'assets/images/gallery/3.jpg' %}" alt="portfolio-image"/></a></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="media-small isotopeSelector filter">
                      <div class="overlay">
                        <div class="border-portfolio"><a href="{% static 'assets/images/gallery/4.jpg' %}">
                            <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="{% static 'assets/images/gallery/4.jpg' %}" alt="portfolio-image"/></a></div>
                      </div>
                    </div>
                    <div class="media-small isotopeSelector filter fashion">
                      <div class="overlay">
                        <div class="border-portfolio"><a href="{% static 'assets/images/gallery/5.jpg' %}">
                            <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="{% static 'assets/images/gallery/5.jpg' %}" alt="portfolio-image"/></a></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <h6 class="mb-2 mt-2">20/04/2019</h6>
                  </div>
                  <div class="col-4">
                    <div class="media-small isotopeSelector filter">
                      <div class="overlay">
                        <div class="border-portfolio"><a href="{% static 'assets/images/gallery/2.jpg' %}">
                            <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="{% static 'assets/images/gallery/2.jpg' %}" alt="portfolio-image"/></a></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="media-small isotopeSelector filter">
                      <div class="overlay">
                        <div class="border-portfolio"><a href="{% static 'assets/images/gallery/3.jpg' %}">
                            <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="{% static 'assets/images/gallery/3.jpg' %}" alt="portfolio-image"/></a></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="media-small isotopeSelector filter">
                      <div class="overlay">
                        <div class="border-portfolio"><a href="{% static 'assets/images/gallery/4.jpg' %}">
                            <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="{% static 'assets/images/gallery/4.jpg' %}" alt="portfolio-image"/></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="status">
            <div class="collapse-block open">
              <h5 class="block-title">Starred Messages
                <label class="badge badge-outline-dark sm ms-2">2</label>
              </h5>
              <div class="block-content">
                <div class="contact-chat p-0 m-0">
                  <ul class="str-msg">
                    <li>
                      <div class="media">
                        <div class="profile me-4"><img class="bg-img" src="{% static 'assets/images/contact/2.jpg' %}" alt="Avatar"/></div>
                        <div class="media-body">
                          <div class="contact-name">
                            <h5>Alan josheph</h5>
                            <h6>01:35 AM</h6>
                            <ul class="msg-box">
                              <li>
                                <h5>Hi I am Alan,</h5>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="media">
                        <div class="profile me-4"><img class="bg-img" src="{% static 'assets/images/contact/3.jpg' %}" alt="Avatar"/></div>
                        <div class="media-body">
                          <div class="contact-name">
                            <h5>Josephin water</h5>
                            <h6>01:35 AM</h6>
                            <ul class="msg-box">
                              <li>
                                <h5>Can you help me to find best chat app?.</h5>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="status">
            <div class="collapse-block open">
              <h5 class="block-title">Common groups
                <label class="badge badge-outline-dark sm ms-2">3</label>
              </h5>
              <div class="block-content">
                <ul class="group-main">
                  <li>
                    <div class="group-box">
                      <div class="profile"><img class="bg-img" src="{% static 'assets/images/avtar/teq.jpg' %}" alt="Avatar"/></div>
                      <div class="details">
                        <h5>Tech Ninjas</h5>
                        <h6>johan, deo, Sufiya Elija, Pabelo & you</h6>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="group-box">
                      <div class="profile"><img class="bg-img" src="{% static 'assets/images/avtar/family.jpg' %}" alt="Avatar"/></div>
                      <div class="details">
                        <h5>Family Ties</h5>
                        <h6>Mukrani, deo & you</h6>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="status other">
            <h5 class="block-title p-b-25">Contact info</h5>
            <ul>
              <li>
                <h5> <a href="#"> <i data-feather="smartphone"></i>+12 3456789587</a></h5>
              </li>
              <li>
                <h5><a href="https://themeforest.net/user/pixelstrap/portfolio"> <i data-feather="crosshair"></i>https://pixelstrap</a></h5>
              </li>
              <li>
                <h5><a href="#"> <i data-feather="map-pin"></i>1766  Fidler Drive Texas, 78238.</a></h5>
              </li>
            </ul>
          </div>
          <div class="status">
            <ul>
              <li>
                <input class="js-switch" type="checkbox"/>
                <h5>Block  </h5>
              </li>
              <li>
                <input class="js-switch1" type="checkbox"/>
                <h5>Mute  </h5>
              </li>
              <li>
                <input class="js-switch2" type="checkbox" checked=""/>
                <h5>Get Notification</h5>
              </li>
            </ul>
          </div>
          <div class="status other">
            <ul>
              <li>
                <h5> <a href="#"> <i data-feather="share-2"></i>share Contact</a></h5>
              </li>
              <li>
                <h5><a href="#"> <i data-feather="trash-2"></i>Clear Chat</a></h5>
              </li>
              <li>
                <h5><a href="#"> <i data-feather="external-link"></i>Export Chat</a></h5>
              </li>
              <li>
                <h5><a href="#"> <i data-feather="alert-circle"></i>Report Contact             </a></h5>
              </li>
            </ul>
          </div>
        </div>
      </aside>