{% load static %}
<div class="modal fade add-popup add-contact-modal" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    Add Contact</h2>
                <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="default-form">
                    <div class="form-group">
                        <h5>Email or Username</h5>
                        <input class="form-control" id="exampleInputEmail1" type="text" placeholder="Josephin water"/>
                    </div>
                    <div class="form-group mb-0">
                        <h5>Contact number</h5>
                        <input class="form-control" id="examplemsg" type="number" placeholder="12345678912"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger button-effect btn-sm" type="button" data-bs-dismiss="modal">Cancel
                </button>
                <button class="btn btn-primary button-effect btn-sm" type="button">Add contact</button>
            </div>
        </div>
    </div>
</div>
