{% load static %}
 <div class="modal fade" id="audiocall" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-body">
          <div class="audiocall1 call-modal"><img class="bg-img" src="{% static 'assets/images/avtar/big/audiocall.jpg' %}" alt="Avatar"/>
            <div class="center-con text-center">
              <div class="title2">Josephin water</div>
              <h6>log angelina california</h6>
              <ul>
                <li><a class="icon-btn btn-success button-effect btn-xl is-animating" href="#" data-bs-toggle="modal" data-bs-target="#audiorcvcall" data-bs-dismiss="modal"> <i data-feather="phone"></i></a></li>
                <li>     <a class="icon-btn btn-danger button-effect btn-xl is-animating cancelcall" href="#" data-bs-dismiss="modal"> <i data-feather="phone"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
