{% load static %}
 <div class="modal fade audiorcvcall" id="audiorcvcall" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-body">
          <div class="audiocall2 call-modal"><img class="bg-img" src="{% static 'assets/images/avtar/big/audiocall.jpg' %}" alt="Avatar"/>
            <div class="center-con text-center">
              <div id="basicUsage2">00:00:00</div>
              <div class="title2">Josephin water</div>
              <h6>log angelina california</h6>
              <ul>
                <li><a class="icon-btn btn-light button-effect mute" href="#" data-tippy-content="Mute"><i class="fa fa-microphone"></i></a></li>
                <li><a class="icon-btn btn-light button-effect mute" href="#" data-tippy-content="Speaker"><i class="fa fa-volume-up"></i></a></li>
                <li><a class="icon-btn btn-danger button-effect btn-xl is-animating" href="#" data-tippy-content="Hangup" data-bs-dismiss="modal"> <i data-feather="phone"></i></a></li>
                <li><a class="icon-btn btn-light button-effect" href="#" data-tippy-content="Add Call"><i data-feather="user-plus"></i></a></li>
                <li><a class="icon-btn btn-light button-effect" href="#" data-tippy-content="Pause"><i data-feather="pause"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
