{% load static %}
<div class="modal fade" id="confvideocl" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row confimg">
              <div class="col-6">
                <div class="vclimg"><img class="bg-img" src="{% static 'assets/images/avtar/big/videocall_bg.jpg' %}" alt="Avatar"/></div>
              </div>
              <div class="col-6">
                <div class="vclimg"><img class="bg-img" src="{% static 'assets/images/avtar/5.jpg' %}" alt="Avatar"/></div>
              </div>
              <div class="col-6">
                <div class="vclimg"><img class="bg-img" src="{% static 'assets/images/avtar/2.jpg' %}" alt="Avatar"/></div>
              </div>
              <div class="col-6">
                <div class="vclimg"><img class="bg-img" src="{% static 'assets/images/avtar/3.jpg' %}" alt="Avatar"/></div>
              </div>
            </div>
          </div>
          <div class="modal-footer clfooter">
            <div id="basicUsage3">00:00:00</div>
            <ul>
              <li><a class="icon-btn btn-light button-effect" href="#" data-tippy-content="speaker"><i data-feather="volume-2"></i></a></li>
              <li><a class="icon-btn btn-light button-effect" href="#" data-tippy-content="Camera"><i data-feather="camera-off"></i></a></li>
              <li><a class="icon-btn btn-light button-effect" href="#" data-tippy-content="Add Call"><i data-feather="user-plus"></i></a></li>
              <li><a class="icon-btn btn-danger button-effect btn-sm is-animating" href="#" data-bs-dismiss="modal" data-tippy-content="Hangup"><i data-feather="phone"></i></a></li>
              <li><a class="icon-btn btn-light button-effect" href="#" data-tippy-content="Disable Video"><i data-feather="video-off"></i></a></li>
              <li><a class="icon-btn btn-light button-effect mic" href="#" data-tippy-content="Mute"><i data-feather="mic-off"></i></a></li>
              <li><a class="icon-btn btn-light button-effect" href="#" data-tippy-content="Hold"><i data-feather="pause"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
