{% load static %}
<div class="modal fade add-popup msg-chat-modal" id="msgchatModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">
               Create New Message</h2>
            <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="chat-msg-search">
              <div class="input-group">
                <input class="form-control" type="text" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon21"/>
                <div class="input-group-append"><span class="input-group-text" id="basic-addon21">@</span></div>
              </div>
            </div>
            <ul class="chat-main custom-scroll">
              <li data-to="blank">
                <div class="chat-box">
                  <div class="profile offline"><img class="bg-img" src="{% static 'assets/images/contact/1.jpg' %}" alt="Avatar"/></div>
                  <div class="details">
                    <h5>Josephin water</h5>
                    <h6>Hi, i am josephin. How are you.. ! There are many variations of passages.</h6>
                  </div>
                  <div class="date-status"><i class="ti-pin2"></i>
                    <h6>22/10/19</h6>
                    <h6 class="font-success status"> Seen</h6>
                  </div>
                </div>
              </li>
              <li class="active" data-to="chating">
                <div class="chat-box">
                  <div class="profile online"><img class="bg-img" src="{% static 'assets/images/contact/2.jpg' %}" alt="Avatar"/></div>
                  <div class="details">
                    <h5>Jony Lynetin</h5>
                    <h6>Typing................</h6>
                  </div>
                  <div class="date-status"><i class="ti-pin2"></i>
                    <h6>30/11/19</h6>
                    <div class="badge badge-primary sm">8</div>
                  </div>
                </div>
              </li>
              <li data-to="blank">
                <div class="chat-box">
                  <div class="profile unreachable"><img class="bg-img" src="{% static 'assets/images/contact/3.jpg' %}" alt="Avatar"/></div>
                  <div class="details">
                    <h5>Sufiya Elija</h5>
                    <h6>I need job, please help me.</h6>
                  </div>
                  <div class="date-status"><i class="ti-pin2"></i>
                    <h6>15/06/19</h6>
                    <h6 class="font-dark status"> Sending</h6>
                  </div>
                </div>
              </li>
              <li data-to="blank">
                <div class="chat-box">
                  <div class="profile busy"><img class="bg-img" src="{% static 'assets/images/contact/4.jpg' %}" alt="Avatar"/></div>
                  <div class="details">
                    <h5>Mukrani Pabelo</h5>
                    <h6>Hi, i am josephin. How are you.. ! There are many variations of passages.</h6>
                  </div>
                  <div class="date-status"><i class="ti-pin2"></i>
                    <h6>04/06/19</h6>
                    <h6 class="font-danger status"> Failed</h6>
                  </div>
                </div>
              </li>
              <li data-to="blank">
                <div class="chat-box">
                  <div class="profile busy"><img class="bg-img" src="{% static 'assets/images/contact/2.jpg' %}" alt="Avatar"/></div>
                  <div class="details">
                    <h5>Jhon Deo</h5>
                    <h6>Hi, i am josephin. How are you.. ! There are many variations of passages.</h6>
                  </div>
                  <div class="date-status"><i class="ti-pin2"></i>
                    <h6>04/06/19</h6>
                    <h6 class="font-danger status"> Failed</h6>
                  </div>
                </div>
              </li>
              <li data-to="blank">
                <div class="chat-box">
                  <div class="profile busy"><img class="bg-img" src="{% static 'assets/images/contact/1.jpg' %}" alt="Avatar"/></div>
                  <div class="details">
                    <h5>Pabelo Mukrani</h5>
                    <h6>Hi, i am josephin. How are you.. ! There are many variations of passages.</h6>
                  </div>
                  <div class="date-status"><i class="ti-pin2"></i>
                    <h6>04/06/19</h6>
                    <h6 class="font-danger status"> Failed</h6>
                  </div>
                </div>
              </li>
              <li data-to="blank">
                <div class="chat-box">
                  <div class="profile unreachable"><img class="bg-img" src="{% static 'assets/images/contact/3.jpg' %}" alt="Avatar"/></div>
                  <div class="details">
                    <h5>Sufiya Elija</h5>
                    <h6>I need job, please help me.</h6>
                  </div>
                  <div class="date-status"><i class="ti-pin2"></i>
                    <h6>15/06/19</h6>
                    <h6 class="font-dark status"> Sending</h6>
                  </div>
                </div>
              </li>
              <li data-to="blank">
                <div class="chat-box">
                  <div class="profile busy"><img class="bg-img" src="{% static 'assets/images/contact/4.jpg' %}" alt="Avatar"/></div>
                  <div class="details">
                    <h5>Mukrani Pabelo</h5>
                    <h6>Hi, i am josephin. How are you.. ! There are many variations of passages.</h6>
                  </div>
                  <div class="date-status"><i class="ti-pin2"></i>
                    <h6>04/06/19</h6>
                    <h6 class="font-danger status"> Failed</h6>
                  </div>
                </div>
              </li>
              <li data-to="blank">
                <div class="chat-box">
                  <div class="profile busy"><img class="bg-img" src="{% static 'assets/images/contact/2.jpg' %}" alt="Avatar"/></div>
                  <div class="details">
                    <h5>Jhon Deo</h5>
                    <h6>Hi, i am josephin. How are you.. ! There are many variations of passages.</h6>
                  </div>
                  <div class="date-status"><i class="ti-pin2"></i>
                    <h6>04/06/19</h6>
                    <h6 class="font-danger status"> Failed</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
