{% load static %}
 <div class="viddiolog modal fade" id="videocall" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-body">
          <div class="videocall call-modal"><img class="bg-img" src="{% static 'assets/images/avtar/big/videocall_bg.jpg' %}" alt="Avatar"/>
            <div class="small-image"><img class="bg-img" src="{% static 'assets/images/avtar/big/videocall.jpg' %}" alt="Avatar"/></div>
            <div class="media videocall-details">
              <div class="usersprof">
                <div class="profile"><img class="bg-img" src="{% static 'assets/images/avtar/2.jpg' %}" alt="Avatar"/></div>
                <div class="profile"><img class="bg-img" src="{% static 'assets/images/avtar/3.jpg' %}" alt="Avatar"/></div>
              </div>
              <div class="media-body">
                <h5>Josephin water</h5>
                <h6>America ,California</h6>
              </div>
              <div id="basicUsage">00:00:00</div>
              <div class="zoomcontent"><a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()" data-tippy-content="Zoom Screen"><img src="{% static 'assets/images/logo/maximize.svg' %}" alt="zoom screen"/></a></div>
            </div>
            <div class="center-con text-center">
              <ul>
                <li><a class="icon-btn btn-light button-effect pause" href="#" data-tippy-content="Hold"><i class="ti-control-pause"></i></a></li>
                <li><a class="icon-btn btn-danger button-effect btn-xl is-animating" href="#" data-bs-dismiss="modal" data-tippy-content="Hangup"> <i data-feather="phone"></i></a></li>
                <li><a class="icon-btn btn-light button-effect mic" href="#" data-tippy-content="Mute"><i class="fa fa-microphone"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
