{% load static %}

{% for chat in chats %}
    <li id="chat_{{ chat.pk }}" value="{{ chat.pk }}" data-to="group_chat" onclick="getBotChatContent('chat_'+{{ chat.pk }},'{% url 'get_chat_content' pk=chat.pk %}')">
        <div class="group-box">
            <div class="profile"><img class="bg-img"
                                      height="60px"
                                      width="60px"
                                      src="{{ chat.bot.logo.url}}"
                                      alt="Avatar"/></div>
            <div class="details">
                <h5>{{ chat.name }}</h5>
                <h6>{{ chat.conversationcontent_set.last.response }}</h6>
            </div>
            <div class="date-status">
                <ul class="grop-icon">
                    {#                        <li><a class="group-tp" href="#" data-tippy-content="Josephin"> <img#}
                    {#                                src="{% static 'assets/images/contact/1.jpg' %}"#}
                    {#                                alt="group-icon-img"/></a></li>#}
                    {#                        <li><a class="group-tp" href="#" data-tippy-content="Jony "> <img#}
                    {#                                src="{% static 'assets/images/contact/2.jpg' %}"#}
                    {#                                alt="group-icon-img"/></a></li>#}
                    {#                        <li><a class="group-tp" href="#" data-tippy-content="Pabelo"> <img#}
                    {#                                src="{% static 'assets/images/contact/3.jpg' %}"#}
                    {#                                alt="group-icon-img"/></a></li>#}
                    <li>+ {{ chat.conversationcontent_set.count }}</li>
                </ul>
            </div>
        </div>
    </li>
{% endfor %}