{% load static %}

<div class="tab-pane fade show active" id="bot" role="tabpanel" aria-labelledby="bot-tab">
    <div class="search2">
        <div>
            <div class="input-group">
                <div class="input-group-append"><span class="input-group-text"><i
                        class="fa fa-search"></i></span></div>
                <input class="form-control" type="text" placeholder="Start Chat"/>
            </div>
        </div>
    </div>
    <ul class="group-main" id="bot_chat_list">
        <li class="active" data-to="group_chat">
            <div class="group-box">
                <div class="profile"><img class="bg-img"
                                          src="{% static 'assets/images/avtar/teq.jpg' %}"
                                          alt="Avatar"/></div>
                <div class="details">
                    <h5>one Ninjas</h5>
                    <h6>Lorem Ipsum is simply dummy text the printing and typesetting
                        industry.</h6>
                </div>
                <div class="date-status">
                    <ul class="grop-icon">
                        <li><a class="group-tp" href="#" data-tippy-content="Josephin"> <img
                                src="{% static 'assets/images/contact/1.jpg' %}"
                                alt="group-icon-img"/></a></li>
                        <li><a class="group-tp" href="#" data-tippy-content="Jony "> <img
                                src="{% static 'assets/images/contact/2.jpg' %}"
                                alt="group-icon-img"/></a></li>
                        <li><a class="group-tp" href="#" data-tippy-content="Pabelo"> <img
                                src="{% static 'assets/images/contact/3.jpg' %}"
                                alt="group-icon-img"/></a></li>
                        <li>+ 35</li>
                    </ul>
                </div>
            </div>
        </li>
        <li data-to="group_blank">
            <div class="group-box">
                <div class="profile"><img class="bg-img"
                                          src="{% static 'assets/images/avtar/family.jpg' %}"
                                          alt="Avatar"/></div>
                <div class="details">
                    <h5>two Ties</h5>
                    <h6>Lorem Ipsum is simply dummy text the printing and typesetting
                        industry.</h6>
                </div>
                <div class="date-status">
                    <ul class="grop-icon">
                        <li><a class="group-tp" href="#" data-tippy-content="Josephin"> <img
                                src="{% static 'assets/images/contact/1.jpg' %}"
                                alt="group-icon-img"/></a></li>
                        <li><a class="group-tp" href="#" data-tippy-content="Jony "> <img
                                src="{% static 'assets/images/contact/2.jpg' %}"
                                alt="group-icon-img"/></a></li>
                        <li><a class="group-tp" href="#" data-tippy-content="Pabelo"> <img
                                src="{% static 'assets/images/contact/3.jpg' %}"
                                alt="group-icon-img"/></a></li>
                        <li>+ 12</li>
                    </ul>
                    <div class="badge badge-primary"></div>
                </div>
            </div>
        </li>
        <li data-to="group_blank">
            <div class="group-box">
                <div class="profile bg-danger"><span>HT</span></div>
                <div class="details">
                    <h5>Hungry for Trouble</h5>
                    <h6>Lorem Ipsum is simply dummy text the printing and typesetting
                        industry.</h6>
                </div>
            </div>
        </li>
        <li data-to="group_blank">
            <div class="group-box">
                <div class="profile"><img class="bg-img"
                                          src="{% static 'assets/images/avtar/girls.jpg' %}"
                                          alt="Avatar"/></div>
                <div class="details">
                    <h5>Staunch Ladies</h5>
                    <h6>Lorem Ipsum is simply dummy text the printing and typesetting
                        industry.</h6>
                </div>
            </div>
        </li>
        <li data-to="group_blank">
            <div class="group-box">
                <div class="profile bg-success"><span>CE</span></div>
                <div class="details">
                    <h5>Crazy Engineers</h5>
                    <h6>Lorem Ipsum is simply dummy text the printing and typesetting
                        industry.</h6>
                </div>
                <div class="date-status"></div>
            </div>
        </li>
        <li data-to="group_blank">
            <div class="group-box">
                <div class="profile bg-success"><span>CE</span></div>
                <div class="details">
                    <h5>Crazy Engineers</h5>
                    <h6>Lorem Ipsum is simply dummy text the printing and typesetting
                        industry.</h6>
                </div>
                <div class="date-status"></div>
            </div>
        </li>
        <li data-to="group_blank">
            <div class="group-box">
                <div class="profile bg-success"><span>CE</span></div>
                <div class="details">
                    <h5>Crazy Engineers</h5>
                    <h6>Lorem Ipsum is simply dummy text the printing and typesetting
                        industry.</h6>
                </div>
                <div class="date-status"></div>
            </div>
        </li>
    </ul>
</div>

{% block extrajs %}
    <script type="text/javascript " src="{% static 'assets/js/jquery-3.3.1.min.js' %} "></script>
    <script>
        var getBotChatList = function () {
            $.ajax({
                url: '{% url 'get_chat_list' %}',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $("#bot_chat_list").html(data.html_chat_list);
                }
            });
            return false;
        };

        $(document).ready(function () {
            getBotChatList();
        });

        {#// Create team#}
        {#$("#create-team").click(loadCreateForm);#}
        {#$("#modal-team").on("submit", ".js-team-create-form", saveForm);#}
    </script>
{% endblock %}