{% load static %}
<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <ul class="contact-log-main">
        <li>
            <div class="contact-box">
                <div class="profile offline"><img class="bg-img"
                                                  src="{% static 'assets/images/contact/2.jpg' %}"
                                                  alt="Avatar"/></div>
                <div class="details">
                    <h5>Jony Lynetin</h5>
                    <h6>+21 3523 25544 </h6>
                </div>
                <div class="contact-action">
                    <div class="icon-btn btn-outline-primary btn-sm button-effect"><i
                            data-feather="phone"></i></div>
                    <div class="icon-btn btn-outline-success btn-sm button-effect"><i
                            data-feather="video"></i></div>
                </div>
            </div>
        </li>
        <li class="active">
            <div class="contact-box">
                <div class="profile online"><img class="bg-img"
                                                 src="{% static 'assets/images/contact/1.jpg' %}"
                                                 alt="Avatar"/></div>
                <div class="details">
                    <h5>Jony Lynetin</h5>
                    <h6>+54 541447 255 </h6>
                </div>
                <div class="contact-action">
                    <div class="icon-btn btn-outline-primary btn-sm button-effect"><i
                            data-feather="phone"></i></div>
                    <div class="icon-btn btn-outline-success btn-sm button-effect"><i
                            data-feather="video"></i></div>
                </div>
            </div>
        </li>
        <li>
            <div class="contact-box">
                <div class="profile busy"><img class="bg-img"
                                               src="{% static 'assets/images/contact/3.jpg' %}"
                                               alt="Avatar"/></div>
                <div class="details">
                    <h5>Jony Lynetin</h5>
                    <h6>+58 2564 02554</h6>
                </div>
                <div class="contact-action">
                    <div class="icon-btn btn-outline-primary btn-sm button-effect"><i
                            data-feather="phone"></i></div>
                    <div class="icon-btn btn-outline-success btn-sm button-effect"><i
                            data-feather="video"></i></div>
                </div>
            </div>
        </li>
        <li>
            <div class="contact-box">
                <div class="profile unreachable"><img class="bg-img"
                                                      src="{% static 'assets/images/contact/4.jpg' %}"
                                                      alt="Avatar"/></div>
                <div class="details">
                    <h5>Jony Lynetin</h5>
                    <h6>+44 55124 2524</h6>
                </div>
                <div class="contact-action">
                    <div class="icon-btn btn-outline-primary btn-sm button-effect"><i
                            data-feather="phone"></i></div>
                    <div class="icon-btn btn-outline-success btn-sm button-effect"><i
                            data-feather="video"></i></div>
                </div>
            </div>
        </li>
        <li>
            <div class="contact-box">
                <div class="profile online"><img class="bg-img"
                                                 src="{% static 'assets/images/contact/4.jpg' %}"
                                                 alt="Avatar"/></div>
                <div class="details">
                    <h5>Jony Lynetin</h5>
                    <h6>+54 541447 255 </h6>
                </div>
                <div class="contact-action">
                    <div class="icon-btn btn-outline-primary btn-sm button-effect"><i
                            data-feather="phone"></i></div>
                    <div class="icon-btn btn-outline-success btn-sm button-effect"><i
                            data-feather="video"></i></div>
                </div>
            </div>
        </li>
    </ul>
</div>