{% extends 'base.html' %}
{% load static %}

{% block bodyclass %}

{% endblock %}

{% block content %}
    <div class="login-page1">
        <div class="container-fluid p-0"></div>
        <div class="row">
            <div class="col-12">
                <div class="login-contain-main">
                    <div class="left-page">
                        <div class="login-content">
                            <div class="login-content-header">
                                <img class="image-fluid"
                                     src="{% static 'assets/images/logo/landing-logo.png' %}"
                                     alt="images">
                            </div>
                            <h3>Signup Email Confirmation</h3>
                            <h4>Activation link has expired!</h4>

                        </div>
                    </div>
                    <div class="right-page">
                        <div class="right-login animat-rate">
                            <div class="bg_circle">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="cross"></div>
                            <div class="cross1"></div>
                            <div class="cross2"></div>
                            <div class="dot"></div>
                            <div class="dot1"></div>
                            <div class="maincircle"></div>
                            <div class="top-circle"></div>
                            <div class="center-circle"></div>
                            <div class="bottom-circle"></div>
                            <div class="bottom-circle1"></div>
                            <div class="right-circle"></div>
                            <div class="right-circle1"></div>
                            <img class="heart-logo" src="{% static 'assets/images/login_signup/5.png' %}"
                                 alt="login logo"/><img class="has-logo"
                                                        src="{% static 'assets/images/login_signup/4.png' %}"
                                                        alt="login logo"/><img class="login-img"
                                                                               src="{% static 'assets/images/login_signup/1.png' %}"
                                                                               alt="login logo"/><img class="boy-logo"
                                                                                                      src="{% static 'assets/images/login_signup/6.png' %}"
                                                                                                      alt="login boy logo"/><img
                                class="girl-logo" src="{% static 'assets/images/login_signup/7.png' %}" alt="girllogo"/><img
                                class="cloud-logo" src="{% static 'assets/images/login_signup/2.png' %}"
                                alt="login logo"/><img class="cloud-logo1"
                                                       src="{% static 'assets/images/login_signup/2.png' %}"
                                                       alt="login logo"/><img class="cloud-logo2"
                                                                              src="{% static 'assets/images/login_signup/2.png' %}"
                                                                              alt="login logo"/><img class="cloud-logo3"
                                                                                                     src="{% static 'assets/images/login_signup/2.png' %}"
                                                                                                     alt="login logo"/><img
                                class="cloud-logo4" src="{% static 'assets/images/login_signup/2.png' %}"
                                alt="login logo"/><img class="has-logo1"
                                                       src="{% static 'assets/images/login_signup/4.png' %}"
                                                       alt="login logo"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


