{% extends 'base.html' %}
{% load static %}

{% block bodyclass %}

{% endblock %}

{% block content %}

    <div class="login-page2 animat-rate">
        <div class="login-content-main">
            {#        <div class="login-content2">#}
            {#          <div class="theme-tab">#}
            {#            <ul class="nav nav-tabs" id="myTab" role="tablist">#}
            {#              <li class="nav-item"><a class="nav-link active" id="login-tab" data-bs-toggle="tab" href="login-2.html" role="tab" aria-selected="false">login</a></li>#}
            {#              <li class="nav-item"><a class="nav-link" id="signup-tab" data-bs-toggle="tab" href="signup-2.html" role="tab" aria-selected="true">Signup</a></li>#}
            {#            </ul>#}
            {#          </div>#}
            {#        </div>#}
            <div class="login-content">
                <div class="login-content-header"><img src="{% static 'assets/images/logo/landing-logo.png' %}"
                                                       alt="sign-logo"></div>
                <h3>Profile</h3>
                {#          <h4>.</h4>#}
                <form class="form2" method="POST">
                 {% csrf_token %}
                    <div class="form-group">
                        <label class="col-form-label" for="inputname">Role</label>
                        {{ form.role }}
                        {% if form.errors.role %}
                                        <p> {{ form.errors.role }} </p>
                        {% endif %}
                        {#              <input class="form-control" id="inputname" type="text" placeholder="Demo123">#}
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="inputEmail3">Date of Birth</label>
                        {{ form.dob }}
                        {% if form.errors.dob %}
                                        <p> {{ form.errors.dob }} </p>
                        {% endif %}
                        {#              <input class="form-control" id="inputEmail3" type="email" placeholder="Demo@123gmail.com">#}
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="inputPassword3">Phone Number</label><span> </span>
                        {{ form.phone_number }}
                        {% if form.errors.phone_number %}
                                        <p> {{ form.errors.phone_number }} </p>
                        {% endif %}
                        {#              <input class="form-control" id="inputPassword3" type="password" placeholder="Password">#}
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="inputPassword3">Country</label><span> </span>
                        {{ form.country }}
                        {% if form.errors.country %}
                                        <p> {{ form.errors.country }} </p>
                        {% endif %}
                        {#              <input class="form-control" id="inputPassword3" type="password" placeholder="Password">#}
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="inputPassword3">Address</label><span> </span>
                        {{ form.address }}
                        {% if form.errors.address %}
                                        <p> {{ form.errors.address }} </p>
                        {% endif %}
                        {#              <input class="form-control" id="inputPassword3" type="password" placeholder="Password">#}
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="inputPassword3">Postal Code</label><span> </span>
                        {{ form.postal_code }}
                         {% if form.errors.postal_code %}
                                        <p> {{ form.errors.postal_code }} </p>
                        {% endif %}
                        {#              <input class="form-control" id="inputPassword3" type="password" placeholder="Password">#}
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="inputPassword3">City</label><span> </span>
                        {{ form.city }}
                         {% if form.errors.city %}
                                        <p> {{ form.errors.city }} </p>
                        {% endif %}
                        {#              <input class="form-control" id="inputPassword3" type="password" placeholder="Password">#}
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="inputPassword3">Marketing</label><span> </span>
                        {{ form.marketing }}
                        {% if form.errors.marketing %}
                                        <p> {{ form.errors.marketing }} </p>
                        {% endif %}
                        {#              <input class="form-control" id="inputPassword3" type="password" placeholder="Password">#}
                    </div>
                    <div class="form-group mb-0">
                        <div class="buttons">
                            <button class="btn  btn-primary signpbtn" type="submit">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="animat-block">
            <div class="bg_circle">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="cross"></div>
            <div class="cross1"></div>
            <div class="cross2"></div>
            <div class="dot"></div>
            <div class="dot1"></div>
            <div class="top-circle"></div>
            <div class="center-circle"></div>
            <div class="bottom-circle1"></div>
            <div class="right-circle"></div>
            <div class="right-circle1"></div>
            <div class="quarterCircle"></div>
            <img class="cloud-logo" src="{% static 'assets/images/login_signup/2.png' %}" alt="login logo"/><img
                class="cloud-logo1" src="{% static 'assets/images/login_signup/2.png' %}" alt="login logo"/><img
                class="cloud-logo2" src="{% static 'assets/images/login_signup/2.png' %}" alt="login logo"/><img
                class="cloud-logo3" src="{% static 'assets/images/login_signup/2.png' %}" alt="login logo"/><img
                class="cloud-logo4" src="{% static 'assets/images/login_signup/2.png' %}" alt="login logo"/><img
                class="cloud-logo5" src="{% static 'assets/images/login_signup/2.png' %}" alt="login logo"/>
        </div>
    </div>

{% endblock %}