{% load i18n %}
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SafEcho is Coming Soon</title>
    <link rel="stylesheet" href="https://drive.google.com/uc?export=view&id=1nNR36NnjrGRccQF08ZmNXdgvhTU_uDRn" />
  </head>
  <body class="font-product_sans">
    <div
      class="bg-[url('https://drive.google.com/uc?export=view&id=1ulIOWC0L696XzQ7t7lJvaLF2dPbImGWR')] bg-contain bg-bottom bg-no-repeat md:bg-none xl:h-screen xl:bg-[url('https://drive.google.com/uc?export=view&id=11Ik7nR0b6ZvUkj5_O1DO386zzg-Fb147')] xl:bg-right-top"
    >
     
      <section class="container mx-auto">
        <div class="flex items-center px-6 xl:h-[calc(100vh-80px)]">
          <div class="pt-12 md:pt-20">
            <h1
              class="text-4xl font-bold leading-[50px] tracking-wider text-brand-blue sm:text-[41px] 2xl:w-10/12"
            >
              <span class="text-brand-megenta"> SafEcho</span> is Coming Soon.
            </h1>



            <div
              class="flex w-full justify-center pt-12 pb-10 sm:w-11/12 sm:justify-end sm:pt-6 lg:w-7/12 2xl:w-5/12"
            >
              <ul class="flex items-center gap-6 pr-0 md:pr-10 2xl:pr-0">
                <li>
                  <a href="https://www.linkedin.com/company/safecho/" target="_blank" title="linkedin SafEcho"
                    ><img src="https://drive.google.com/uc?export=view&id=1pmo8UEpP6YlMtmNieXw3Nk6cTQSgE_L9" alt="linkedin"
                  /></a>
                </li>
                <li>
                </li>
                <li>
                </li>
              </ul>
            </div>
          </div>
          <div class="hidden flex-shrink-0 xl:block xl:w-4/12">
            <figure class="-ml-16 mt-20">
              <img
                class="scale-125 transform"
                src="https://drive.google.com/uc?export=view&id=1-bVeIkplFW0cClxvwFFrZ78pOlK9qqip"
                alt="banner.svg"
              />
            </figure>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
