{% load static %}
<div class="messages custom-scroll active" id="bot-chating">
{#        {%  include 'content/chat/contact_detail_chat_content.html' %}#}
        <div class="contact-chat">
            <ul class="chatappend" id="chat-append">
                {% for cc in chat.chat_content.all %}
                    {% if cc.user.user == request.user %}
                        <li class="replies">
                            <div class="media">
                                <div class="profile me-4"><img class="bg-img"
                                                               src="{% static 'assets/images/contact/2.jpg' %}"
                                                               alt="Avatar"/></div>
                                <div class="media-body">
                                    <div class="contact-name">
                                        <h5>{{ cc.user }}</h5>
                                        <h6>{{ cc.timestamp }}</h6>
                                        <ul class="msg-box">
                                            <li class="msg-setting-main">
                                                <div class="msg-dropdown-main">
                                                    <div class="msg-setting"><i class="ti-more-alt"></i></div>
                                                    <div class="msg-dropdown">
                                                        <ul>
                                                            <li><a href="#"><i class="fa fa-share"></i>forward</a>
                                                            </li>
                                                            <li><a href="#"><i class="fa fa-clone"></i>copy</a></li>
                                                            <li><a href="#"><i class="fa fa-star-o"></i>rating</a>
                                                            </li>
                                                            <li><a href="#"><i class="ti-trash"></i>delete</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <h5>{{ cc.text }}</h5>
                                            </li>
{#                                            <li class="msg-setting-main">#}
{#                                                <h5> your personal assistant to help you &#128512; </h5>#}
{#                                                <div class="badge badge-success sm ms-2"> R</div>#}
{#                                                <div class="msg-dropdown-main">#}
{#                                                    <div class="msg-setting"><i class="ti-more-alt"></i></div>#}
{#                                                    <div class="msg-dropdown">#}
{#                                                        <ul>#}
{#                                                            <li><a href="#"><i class="fa fa-share"></i>forward</a>#}
{#                                                            </li>#}
{#                                                            <li><a href="#"><i class="fa fa-clone"></i>copy</a></li>#}
{#                                                            <li><a href="#"><i class="fa fa-star-o"></i>rating</a>#}
{#                                                            </li>#}
{#                                                            <li><a href="#"><i class="ti-trash"></i>delete</a></li>#}
{#                                                        </ul>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </li>#}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% else %}
                        <li class="sent">
                            <div class="media">
                                <div class="profile me-4"><img class="bg-img"
                                                               src="{% static 'assets/images/contact/2.jpg' %}"
                                                               alt="Avatar"/></div>
                                <div class="media-body">
                                    <div class="contact-name">
                                        <h5>{{ cc.user }}</h5>
                                        <h6>{{ cc.timestamp }}</h6>
                                        <ul class="msg-box">
                                            <li class="msg-setting-main">
                                                <h5>{{ cc.text }}</h5>
                                                <div class="msg-dropdown-main">
                                                    <div class="msg-setting"><i class="ti-more-alt"></i></div>
                                                    <div class="msg-dropdown">
                                                        <ul>
                                                            <li><a href="#"><i class="fa fa-share"></i>forward</a>
                                                            </li>
                                                            <li><a href="#"><i class="fa fa-clone"></i>copy</a></li>
                                                            <li><a href="#"><i class="fa fa-star-o"></i>rating</a>
                                                            </li>
                                                            <li><a href="#"><i class="ti-trash"></i>delete</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="msg-setting-main">
                                                <h5> it should from elite auther &#128519;</h5>
                                                <div class="badge badge-success sm ms-2"> R</div>
                                                <div class="msg-dropdown-main">
                                                    <div class="msg-setting"><i class="ti-more-alt"></i></div>
                                                    <div class="msg-dropdown">
                                                        <ul>
                                                            <li><a href="#"><i class="fa fa-share"></i>forward</a>
                                                            </li>
                                                            <li><a href="#"><i class="fa fa-clone"></i>copy</a></li>
                                                            <li><a href="#"><i class="fa fa-star-o"></i>rating</a>
                                                            </li>
                                                            <li><a href="#"><i class="ti-trash"></i>delete</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
</div>

{% block extrajs %}
    <script type="text/javascript " src="{% static 'assets/js/jquery-3.3.1.min.js' %} "></script>
    <script>
        var getBotChatContent = function (id,chat_id,url) {
            var botChatTab=document.getElementById('bot_chat_list')
            var li_elements = botChatTab.getElementsByTagName("li");
            for (var i = 0, len = li_elements.length; i < len; i++ ) {
                li_elements[ i ].classList.remove("active");
            }
            var selectedConversation=document.getElementById(chat_id)
            selectedConversation.classList.add("active");
            $('#bot_chat_list').data( "chat_id", id );


            $.ajax({
                url:url,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $("#chat-append").html(data.html_chat_content);
                }
            });
            return false;
        };

        $(document).ready(function () {
            getBotChatContent();
        });

        {#// Create team#}
        {#$("#create-team").click(loadCreateForm);#}
        {#$("#modal-team").on("submit", ".js-team-create-form", saveForm);#}
    </script>
{% endblock %}

{#                <li class="replies">#}
{#                    <div class="media">#}
{#                        <div class="profile me-4"><img class="bg-img"#}
{#                                                       src="{% static 'assets/images/avtar/1.jpg' %}"#}
{#                                                       alt="Avatar"/></div>#}
{#                        <div class="media-body">#}
{#                            <div class="contact-name">#}
{#                                <h5>Alan josheph</h5>#}
{#                                <h6>01:40 AM</h6>#}
{#                                <ul class="msg-box">#}
{#                                    <li class="msg-setting-main">#}
{#                                        <div class="msg-dropdown-main">#}
{#                                            <div class="msg-setting"><i class="ti-more-alt"></i></div>#}
{#                                            <div class="msg-dropdown">#}
{#                                                <ul>#}
{#                                                    <li><a href="#"><i class="fa fa-share"></i>forward</a>#}
{#                                                    </li>#}
{#                                                    <li><a href="#"><i class="fa fa-clone"></i>copy</a></li>#}
{#                                                    <li><a href="#"><i class="fa fa-star-o"></i>rating</a>#}
{#                                                    </li>#}
{#                                                    <li><a href="#"><i class="ti-trash"></i>delete</a></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <h5>Sure, chitchat is best theme for chating project, you can it#}
{#                                            check<a class="ms-1"#}
{#                                                    href="https://themeforest.net/user/pixelstrap/portfolio"#}
{#                                                    target="_blank">here.</a></h5>#}
{#                                    </li>#}
{#                                    <li class="msg-setting-main">#}
{#                                        <div class="document"><i#}
{#                                                class="fa fa-file-excel-o font-primary"></i>#}
{#                                            <div class="details">#}
{#                                                <h5>Document.xlsx</h5>#}
{#                                                <h6>25mb Seprate file</h6>#}
{#                                            </div>#}
{#                                            <div class="icon-btns"><a class="icon-btn btn-outline-light"#}
{#                                                                      href="{% static 'assets/doc/Document.xlsx' %}"#}
{#                                                                      target="_blank"><i#}
{#                                                    data-feather="download"> </i></a></div>#}
{#                                        </div>#}
{#                                        <div class="badge badge-dark sm ms-2"> D</div>#}
{#                                        <div class="msg-dropdown-main">#}
{#                                            <div class="msg-setting"><i class="ti-more-alt"></i></div>#}
{#                                            <div class="msg-dropdown">#}
{#                                                <ul>#}
{#                                                    <li><a href="#"><i class="fa fa-share"></i>forward</a>#}
{#                                                    </li>#}
{#                                                    <li><a href="#"><i class="fa fa-clone"></i>copy</a></li>#}
{#                                                    <li><a href="#"><i class="fa fa-star-o"></i>rating</a>#}
{#                                                    </li>#}
{#                                                    <li><a href="#"><i class="ti-trash"></i>delete</a></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
{#                <li class="sent">#}
{#                    <div class="media">#}
{#                        <div class="profile me-4"><img class="bg-img"#}
{#                                                       src="{% static 'assets/images/contact/2.jpg' %}"#}
{#                                                       alt="Avatar"/></div>#}
{#                        <div class="media-body">#}
{#                            <div class="contact-name">#}
{#                                <h5>Josephin water</h5>#}
{#                                <h6>01:42 AM</h6>#}
{#                                <ul class="msg-box">#}
{#                                    <li class="msg-setting-main">#}
{#                                        <h5>I think it's best for my project.</h5>#}
{#                                        <div class="msg-dropdown-main">#}
{#                                            <div class="msg-setting"><i class="ti-more-alt"></i></div>#}
{#                                            <div class="msg-dropdown">#}
{#                                                <ul>#}
{#                                                    <li><a href="#"><i class="fa fa-share"></i>forward</a>#}
{#                                                    </li>#}
{#                                                    <li><a href="#"><i class="fa fa-clone"></i>copy</a></li>#}
{#                                                    <li><a href="#"><i class="fa fa-star-o"></i>rating</a>#}
{#                                                    </li>#}
{#                                                    <li><a href="#"><i class="ti-trash"></i>delete</a></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </li>#}
{#                                    <li class="msg-setting-main">#}
{#                                        <ul class="auto-gallery">#}
{#                                            <li><img class="bg-img"#}
{#                                                     src="{% static 'assets/images/media/1.jpg' %}"#}
{#                                                     alt="Avatar"/></li>#}
{#                                            <li><img class="bg-img"#}
{#                                                     src="{% static 'assets/images/media/2.jpg' %}"#}
{#                                                     alt="Avatar"/></li>#}
{#                                            <li><img class="bg-img"#}
{#                                                     src="{% static 'assets/images/media/3.jpg' %}"#}
{#                                                     alt="Avatar"/></li>#}
{#                                        </ul>#}
{#                                        <div class="refresh-block">#}
{#                                            <div class="badge badge-outline-primary refresh sm ms-2"><i#}
{#                                                    data-feather="rotate-cw"></i></div>#}
{#                                            <div class="badge badge-danger sm ms-2">F</div>#}
{#                                        </div>#}
{#                                        <div class="msg-dropdown-main">#}
{#                                            <div class="msg-setting"><i class="ti-more-alt"></i></div>#}
{#                                            <div class="msg-dropdown">#}
{#                                                <ul>#}
{#                                                    <li><a href="#"><i class="fa fa-share"></i>forward</a>#}
{#                                                    </li>#}
{#                                                    <li><a href="#"><i class="fa fa-clone"></i>copy</a></li>#}
{#                                                    <li><a href="#"><i class="fa fa-star-o"></i>rating</a>#}
{#                                                    </li>#}
{#                                                    <li><a href="#"><i class="ti-trash"></i>delete</a></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
{#                <li class="replies">#}
{#                    <div class="media">#}
{#                        <div class="profile me-4"><img class="bg-img"#}
{#                                                       src="{% static 'assets/images/avtar/1.jpg' %}"#}
{#                                                       alt="Avatar"/></div>#}
{#                        <div class="media-body">#}
{#                            <div class="contact-name">#}
{#                                <h5>Alan josheph</h5>#}
{#                                <h6>01:45 AM</h6>#}
{#                                <ul class="msg-box">#}
{#                                    <li class="msg-setting-main">#}
{#                                        <h5>If you have any other query then feel free to ask us.</h5>#}
{#                                        <div class="msg-dropdown-main">#}
{#                                            <div class="msg-setting"><i class="ti-more-alt"></i></div>#}
{#                                            <div class="msg-dropdown">#}
{#                                                <ul>#}
{#                                                    <li><a href="#"><i class="fa fa-share"></i>forward</a>#}
{#                                                    </li>#}
{#                                                    <li><a href="#"><i class="fa fa-clone"></i>copy</a></li>#}
{#                                                    <li><a href="#"><i class="fa fa-star-o"></i>rating</a>#}
{#                                                    </li>#}
{#                                                    <li><a href="#"><i class="ti-trash"></i>delete </a></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#</div>#}