{% load static %}

{% for chat in chats %}

        <li class="replies">
            <div class="media">
                <div class="profile me-4"><img class="bg-img"
                                               width="60px"
                                               height="60px"
                                               src="
                                               {% if chat.sender.user_image %}
                                               {{ chat.sender.user_image.url }}
                                               {% else %}
                                               {% static 'assets/images/contact/2.jpg' %}
                                               {% endif %}
                                                "
                                               alt="Avatar"/></div>
                <div class="media-body">
                    <div class="contact-name">
                        <h5>{{ chat.sender.user.first_name }} {{ chat.sender.user.last_name }}</h5>
                        <h6>{{ chat.created_at }}</h6>
                        <ul class="msg-box">
                            <li class="msg-setting-main">
                                <div class="msg-dropdown-main">
                                    <div class="msg-setting"><i class="ti-more-alt"></i></div>
                                    <div class="msg-dropdown">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-share"></i>forward</a>
                                            </li>
                                            <li><a href="#"><i class="fa fa-clone"></i>copy</a></li>
                                            <li><a href="#"><i class="fa fa-star-o"></i>rating</a>
                                            </li>
                                            <li><a href="#"><i class="ti-trash"></i>delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h5>{{ chat.query }}</h5>
                            </li>
{#                            <li class="msg-setting-main">#}
{#                                <h5> your personal assistant to help you &#128512; </h5>#}
{#                                <div class="badge badge-success sm ms-2"> R</div>#}
{#                                <div class="msg-dropdown-main">#}
{#                                    <div class="msg-setting"><i class="ti-more-alt"></i></div>#}
{#                                    <div class="msg-dropdown">#}
{#                                        <ul>#}
{#                                            <li><a href="#"><i class="fa fa-share"></i>forward</a>#}
{#                                            </li>#}
{#                                            <li><a href="#"><i class="fa fa-clone"></i>copy</a></li>#}
{#                                            <li><a href="#"><i class="fa fa-star-o"></i>rating</a>#}
{#                                            </li>#}
{#                                            <li><a href="#"><i class="ti-trash"></i>delete</a></li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </li>#}
                        </ul>
                    </div>
                </div>
            </div>
        </li>

        <li class="sent">
            <div class="media">
                <div class="profile me-4"><img class="bg-img"
                                               width="60px"
                                               height="60px"
                                               src="{{ chat.conversation.bot.logo.url }}"
                                               alt="Avatar"/></div>
                <div class="media-body">
                    <div class="contact-name">
                        <h5>{{ chat.conversation.bot.name }}</h5>
                        <h6>{{ chat.updated_at }}</h6>
                        <ul class="msg-box">
                            <li class="msg-setting-main">
                                <h5>{{ chat.response }}</h5>
                                <div class="msg-dropdown-main">
                                    <div class="msg-setting"><i class="ti-more-alt"></i></div>
                                    <div class="msg-dropdown">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-share"></i>forward</a>
                                            </li>
                                            <li><a href="#"><i class="fa fa-clone"></i>copy</a></li>
                                            <li><a href="#"><i class="fa fa-star-o"></i>rating</a>
                                            </li>
                                            <li><a href="#"><i class="ti-trash"></i>delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
{#                            <li class="msg-setting-main">#}
{#                                <h5> it should from elite auther &#128519;</h5>#}
{#                                <div class="badge badge-success sm ms-2"> R</div>#}
{#                                <div class="msg-dropdown-main">#}
{#                                    <div class="msg-setting"><i class="ti-more-alt"></i></div>#}
{#                                    <div class="msg-dropdown">#}
{#                                        <ul>#}
{#                                            <li><a href="#"><i class="fa fa-share"></i>forward</a>#}
{#                                            </li>#}
{#                                            <li><a href="#"><i class="fa fa-clone"></i>copy</a></li>#}
{#                                            <li><a href="#"><i class="fa fa-star-o"></i>rating</a>#}
{#                                            </li>#}
{#                                            <li><a href="#"><i class="ti-trash"></i>delete</a></li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </li>#}
                        </ul>
                    </div>
                </div>
            </div>
        </li>

{% endfor %}