{% load static %}
<div class="messages custom-scroll" id="group_chat">
        <div class="contact-details">
            <div class="row">
                <div class="col">
                    <div class="media left">
                        <div class="media-left me-3">
                            <div class="profile online menu-trigger"><img class="bg-img"
                                                                          src="{% static 'assets/images/avtar/family.jpg' %}"
                                                                          alt="Avatar"/></div>
                        </div>
                        <div class="media-body">
                            <h5>my group Ties</h5>
                            <h6>Last Seen 2 hours</h6>
                        </div>
                        <div class="media-right">
                            <ul>
                                <li><a class="icon-btn btn-light button-effect mute" href="#"><i
                                        class="fa fa-volume-up"></i></a></li>
                                <li><a class="icon-btn btn-light search search-right" href="#"> <i
                                        data-feather="search"></i></a>
                                    <form class="form-inline search-form">
                                        <div class="form-group">
                                            <input class="form-control-plaintext" type="search"
                                                   placeholder="Search.."/>
                                            <div class="icon-close close-search"></div>
                                        </div>
                                    </form>
                                </li>
                                <li><a class="icon-btn btn-light button-effect mobile-sidebar" href="#"><i
                                        data-feather="chevron-left"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <ul class="calls text-end">
                        <li><a class="icon-btn btn-light button-effect" href="#"
                               data-tippy-content="Quick Audio Call" data-bs-toggle="modal"
                               data-bs-target="#confercall"><i data-feather="phone"></i></a></li>
                        <li><a class="icon-btn btn-light button-effect" href="#"
                               data-tippy-content="Quick Video Call" data-bs-toggle="modal"
                               data-bs-target="#confvideocl"><i data-feather="video"></i></a></li>
                        <li><a class="icon-btn btn-light button-effect apps-toggle" href="#"
                               data-tippy-content="All Apps"><i class="ti-layout-grid2"></i></a></li>
                        <li class="chat-friend-toggle"><a
                                class="icon-btn btn-light bg-transparent button-effect outside" href="#"
                                data-tippy-content="Quick action"><i data-feather="more-vertical"></i></a>
                            <div class="chat-frind-content">
                                <ul>
                                    <li><a class="icon-btn btn-outline-primary button-effect btn-sm"
                                           href="#"><i data-feather="user"></i></a>
                                        <h5>profile</h5>
                                    </li>
                                    <li><a class="icon-btn btn-outline-success button-effect btn-sm"
                                           href="#"><i data-feather="plus-circle"></i></a>
                                        <h5>archive</h5>
                                    </li>
                                    <li><a class="icon-btn btn-outline-danger button-effect btn-sm"
                                           href="#"><i data-feather="trash-2"></i></a>
                                        <h5>delete</h5>
                                    </li>
                                    <li><a class="icon-btn btn-outline-light button-effect btn-sm" href="#"><i
                                            data-feather="slash"></i></a>
                                        <h5>block</h5>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contact-chat">
            <div class="rightchat animat-rate">
                <div class="bg_circle">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="cross"></div>
                <div class="cross1"></div>
                <div class="cross2"></div>
                <div class="dot"></div>
                <div class="dot1"></div>
            </div>
        </div>
        <div class="call-list-center"><img src="{% static 'assets/images/chat.png' %}" alt=""/>
            <div class="animated-bg"><i></i><i></i><i></i></div>
            <p>Select a chat to read messages</p>
        </div>
    </div>