include mixin/content.pug
include mixin/footer.pug
include mixin/inner-pages.pug
include mixin/loader.pug
include mixin/sidebar.pug
include mixin/modal.pug
include mixin/app-sidebar.pug
include mixin/right-sidebar.pug
include mixin/breadcrumb.pug
include mixin/animation.pug
include mixin/landing.pug