{% load static %}
<div class="document-tab dynemic-sidebar" id="document">
    <div class="theme-title">
        <div class="media">
            <div>
                <h2>Document</h2>
                <h4>List of document</h4>
            </div>
            <div class="media-body text-end"><a class="icon-btn btn-outline-light btn-sm m-r-15 search" href="#"> <i
                    data-feather="search"></i></a>
                <form class="form-inline search-form">
                    <div class="form-group">
                        <input class="form-control-plaintext" type="search" placeholder="Search.."/>
                        <div class="icon-close close-search"></div>
                    </div>
                </form>
                <a class="icon-btn btn-outline-light btn-sm close-panel" href="#"><i data-feather="x"></i></a>
            </div>
        </div>
    </div>
    <ul class="chat-main">
        <li>
            <div class="chat-box">
                <div class="media">
                    <div class="profile"><a class="icon-btn btn-outline-danger btn-xl pull-right rouded15" href="#"><i
                            class="fa fa-file-code-o"></i></a></div>
                    <div class="details">
                        <h5>messenger.html</h5>
                        <h6>2, octomber 2019</h6>
                    </div>
                    <div class="media-body"><a class="icon-btn btn-outline-light btn-sm pull-right"
                                               href="{% static 'assets/doc/chapter1.MP4' %}" target="_blank"><i
                            data-feather="download"></i></a></div>
                </div>
            </div>
        </li>
        <li>
            <div class="chat-box">
                <div class="media">
                    <div class="profile"><a class="icon-btn btn-outline-success btn-xl pull-right rouded15" href="#"><i
                            class="fa fa-file-video-o"></i></a></div>
                    <div class="details">
                        <h5>chapter1.MP4</h5>
                        <h6>3, Octomber 2019</h6>
                    </div>
                    <div class="media-body"><a class="icon-btn btn-outline-light btn-sm pull-right"
                                               href="{% static 'assets/doc/chapter1.MP4' %}" target="_blank"> <i
                            data-feather="download"></i></a></div>
                </div>
            </div>
        </li>
        <li>
            <div class="chat-box">
                <div class="media">
                    <div class="profile"><a class="icon-btn btn-outline-primary btn-xl pull-right rouded15" href="#"><i
                            class="fa fa-file-word-o"></i></a></div>
                    <div class="details">
                        <h5>salary.xlsx</h5>
                        <h6>5, Octomber 2019</h6>
                    </div>
                    <div class="media-body"><a class="icon-btn btn-outline-light btn-sm pull-right"
                                               href="{% static 'assets/doc/salary.xlsx' %}" target="_blank"> <i
                            data-feather="download"></i></a></div>
                </div>
            </div>
        </li>
        <li>
            <div class="chat-box">
                <div class="media">
                    <div class="profile"><a class="icon-btn btn-outline-warning btn-xl pull-right rouded15" href="#"><i
                            class="fa fa-file-pdf-o"></i></a></div>
                    <div class="details">
                        <h5>document.pdf</h5>
                        <h6>7, Octomber 2019</h6>
                    </div>
                    <div class="media-body"><a class="icon-btn btn-outline-light btn-sm pull-right"
                                               href="{% static 'assets/doc/document.pdf' %}" target="_blank"> <i
                            data-feather="download"></i></a></div>
                </div>
            </div>
        </li>
        <li>
            <div class="chat-box">
                <div class="media">
                    <div class="profile"><a class="icon-btn btn-outline-danger btn-xl pull-right rouded15" href="#"><i
                            class="fa fa-file-text-o"></i></a></div>
                    <div class="details">
                        <h5>details.txt</h5>
                        <h6>20, Octomber 2019</h6>
                    </div>
                    <div class="media-body"><a class="icon-btn btn-outline-light btn-sm pull-right"
                                               href="{% static 'assets/doc/details.txt' %}" target="_blank"> <i
                            data-feather="download"></i></a></div>
                </div>
            </div>
        </li>
        <li>
            <div class="chat-box">
                <div class="media">
                    <div class="profile"><a class="icon-btn btn-outline-success btn-xl pull-right rouded15" href="#"><i
                            class="fa fa-file-code-o"></i></a></div>
                    <div class="details">
                        <h5>messenger.html</h5>
                        <h6>2, octomber 2019</h6>
                    </div>
                    <div class="media-body"><a class="icon-btn btn-outline-light btn-sm pull-right"
                                               href="{% static 'assets/doc/details.txt' %}" target="_blank"><i
                            data-feather="download"></i></a></div>
                </div>
            </div>
        </li>
    </ul>
</div>