{% load static %}
<div class="notification-tab dynemic-sidebar custom-scroll" id="notification">
    <div class="theme-title">
        <div class="media">
            <div>
                <h2>Notification</h2>
                <h4>List of notification</h4>
            </div>
            <div class="media-body text-end"><a class="icon-btn btn-outline-light btn-sm close-panel" href="#"><i
                    data-feather="x"></i></a></div>
        </div>
    </div>
    <ul class="chat-main">
        <li>
            <div class="chat-box notification">
                <div class="profile offline"><img class="bg-img" src="{% static 'assets/images/contact/1.jpg' %}"
                                                  alt="Avatar"/></div>
                <div class="details"><span>Josephin water</span>
                    <h5>Upload New Photos</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                </div>
                <div class="date-status">
                    <h6>Now</h6>
                </div>
            </div>
        </li>
        <li>
            <div class="chat-box notification">
                <div class="profile bg-success offline"><span>J</span></div>
                <div class="details"><span>Jony Today Birthday</span>
                    <h5>Upload New Photos</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                </div>
                <div class="date-status">
                    <h6>1 hour ago</h6>
                </div>
            </div>
        </li>
    </ul>
</div>