{% load static %}
<div class="settings-tab dynemic-sidebar custom-scroll" id="profile">
          <div class="theme-title">
            <div class="media">
              <div>
                <h2>Profile</h2>
                <h4>Personal Information.</h4>
              </div>
              <div class="media-body text-end">   <a class="icon-btn btn-outline-light btn-sm close-panel" href="#"><i data-feather="x"></i></a></div>
            </div>
            <div class="profile-box">
              <div class="media">
                <div class="profile"><img class="bg-img" src="{% static 'assets/images/contact/2.jpg' %}" alt="Avatar"/></div>
                <div class="details">
                  <h5>Josephin water</h5>
                  <h6>Alabma , USA</h6>
                </div>
                <div class="details edit">
                  <form class="form-radious form-sm">
                    <div class="form-group mb-2">
                      <input class="form-control" type="text" name="username" value="Josephin water"/>
                    </div>
                    <div class="form-group mb-0">
                      <input class="form-control" type="text" name="address" value="Alabma , USA"/>
                    </div>
                  </form>
                </div>
                <div class="media-body"><a class="icon-btn btn-outline-light btn-sm pull-right edit-btn" href="#"> <i data-feather="edit">       </i></a></div>
              </div>
            </div>
          </div>
</div>