{% load static %}
<div class="settings-tab dynemic-sidebar custom-scroll" id="settings">
          <div class="theme-title">
            <div class="media">
              <div>
                <h2>Settings</h2>
                <h4>Change your app setting.</h4>
              </div>
              <div class="media-body text-end">   <a class="icon-btn btn-outline-light btn-sm close-panel" href="#"><i data-feather="x"></i></a></div>
            </div>
            <div class="profile-box">
              <div class="media">
                <div class="profile"><img class="bg-img" src="{% static 'assets/images/contact/2.jpg' %}" alt="Avatar"/></div>
                <div class="details">
                  <h5>Josephin water</h5>
                  <h6>Alabma , USA</h6>
                </div>
                <div class="details edit">
                  <form class="form-radious form-sm">
                    <div class="form-group mb-2">
                      <input class="form-control" type="text" name="username" value="Josephin water"/>
                    </div>
                    <div class="form-group mb-0">
                      <input class="form-control" type="text" name="address" value="Alabma , USA"/>
                    </div>
                  </form>
                </div>
                <div class="media-body"><a class="icon-btn btn-outline-light btn-sm pull-right edit-btn" href="#"> <i data-feather="edit">       </i></a></div>
              </div>
            </div>
          </div>
          <div class="setting-block">
            <div class="block">
              <div class="media">
                <div class="media-body">
                  <h3>Account</h3>
                </div>
                <div class="media-right"><a class="icon-btn btn-outline-light btn-sm pull-right previous" href="#"> <i data-feather="chevron-left">                </i></a></div>
              </div>
              <div class="theme-according" id="accordion">
                <div class="card">
                  <div class="card-header" id="headingTwo" role="heading" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"><a>Security<i class="fa fa-angle-down"></i></a></div>
                  <div class="collapse show" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                      <div class="media">
                        <div class="media-body">
                          <h5>Show Security notification</h5>
                        </div>
                        <div class="media-right">
                          <input class="js-switch8" type="checkbox"/>
                        </div>
                      </div>
                      <p> <b>Note : </b>turn on this setting to recive notification when a contact's security code has been changes.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingOne" role="heading" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><a>Privacy<i class="fa fa-angle-down"></i></a></div>
                  <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <ul class="privacy">
                        <li>
                          <h5>Last seen</h5>
                          <input class="js-switch10" type="checkbox" checked=""/>
                          <p> <b>Note : </b>turn on this setting to whether your contact can see last seen or not.</p>
                        </li>
                        <li>
                          <h5>Profile Photo</h5>
                          <input class="js-switch11" type="checkbox"/>
                          <p>
                             turn on this setting to whether your contact can see your profile or not.</p>
                        </li>
                        <li>
                          <h5>About</h5>
                          <input class="js-switch12" type="checkbox"/>
                          <p> <b>Note : </b>turn on this setting to whether your contact can see about status or not.</p>
                        </li>
                        <li>
                          <h5>Status</h5>
                          <input class="js-switch14" type="checkbox"/>
                          <p> <b>Note : </b>turn on this setting to whether your contact can see your status or not.                          </p>
                        </li>
                        <li>
                          <h5>Read receipts</h5>
                          <input class="js-switch16" type="checkbox"/>
                          <p> <b>Note : </b>If turn off this option you won't be able to see read recipts from contact. read receipts are always sent for group chats.                     </p>
                        </li>
                        <li>
                          <h5>Groups</h5>
                          <input class="js-switch13" type="checkbox" checked=""/>
                          <p> <b>Note : </b>turn on this setting to whether your contact can add in groups or not.  </p>
                        </li>
                        <li>
                          <h5>Screen Lock(Require Touch ID)</h5>
                          <input class="js-switch17" type="checkbox"/>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree" role="heading" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><a>Two Step verification<i class="fa fa-angle-down"></i></a></div>
                  <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                      <div class="media">
                        <div class="media-body">
                          <h5>Enable</h5>
                        </div>
                        <div class="media-right">
                          <input class="js-switch9" type="checkbox"/>
                        </div>
                      </div>
                      <p> <b>Note : </b>For added security, enable two-step verifiation, which will require a PIN when registering your phone number with Chitchat again.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingFour" role="heading" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><a>Change Number<i class="fa fa-angle-down"></i></a></div>
                  <div class="collapse" id="collapseFour" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body change-number">
                      <h5>Your old country code & phone number</h5>
                      <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text form-control m-0">+</span></div>
                        <input class="form-control country-code" type="number" placeholder="01"/>
                        <input class="form-control" type="number" placeholder="1234567895"/>
                      </div>
                      <h5>Your new country code & phone number</h5>
                      <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text form-control m-0">+</span></div>
                        <input class="form-control country-code" type="number" placeholder="01"/>
                        <input class="form-control" type="number" placeholder=""/>
                      </div>
                      <div class="text-end">  <a class="btn btn-outline-primary button-effect btn-sm" href="#">confirm</a></div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingFive" role="heading" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"><a>Request account info<i class="fa fa-angle-down"></i></a></div>
                  <div class="collapse" id="collapseFive" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body"><a class="p-0 req-info" id="demo" href="#" onclick="document.getElementById(&quot;demo&quot;).innerHTML = &quot;Request sent&quot;">Request Info </a>
                      <p> <b>Note : </b>Create a report of your account information and settings, which you can access ot port to another app.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingSix" role="heading" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"><a>Delete My account<i class="fa fa-angle-down"></i></a></div>
                  <div class="collapse" id="collapseSix" aria-labelledby="headingSix" data-parent="#accordion">
                    <div class="card-body"><a class="p-0 req-info font-danger" href="#">Delete Account                            </a>
                      <p> <b>Note :</b>Deleting your account will delete your account info, profile photo, all groups & chat history.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="media">
              <div class="media-body">
                <h3>Account</h3>
                <h4>Update Your Account Details</h4>
              </div>
              <div class="media-right"> <a class="icon-btn btn-outline-light btn-sm pull-right next" href="#"> <i data-feather="chevron-right">       </i></a></div>
            </div>
          </div>
          <div class="setting-block">
            <div class="block">
              <div class="media">
                <div class="media-body">
                  <h3>Chat</h3>
                </div>
                <div class="media-right"><a class="icon-btn btn-outline-light btn-sm pull-right previous" href="#"> <i data-feather="chevron-left"> </i></a></div>
              </div>
              <ul class="help">
                <li>
                  <h5>Chat Backup</h5>
                  <ul class="switch-list">
                    <li>
                      <input class="js-switch5" type="checkbox" checked=""/>
                      <h5>Auto Backup</h5>
                    </li>
                    <li>
                      <input class="js-switch6" type="checkbox"/>
                      <h5>Include document</h5>
                    </li>
                    <li>
                      <input class="js-switch7" type="checkbox"/>
                      <h5>Include Videos</h5>
                    </li>
                  </ul>
                </li>
                <li>
                  <h5>Chat wallpaper</h5>
                  <ul class="wallpaper">
                    <li><img class="bg-img" src="{% static 'assets/images/wallpaper/2.jpg' %}" alt="Avatar"/></li>
                    <li><img class="bg-img" src="{% static 'assets/images/wallpaper/1.jpg' %}" alt="Avatar"/></li>
                    <li><img class="bg-img" src="{% static 'assets/images/wallpaper/3.jpg' %}" alt="Avatar"/></li>
                    <li><img class="bg-img" src="{% static 'assets/images/wallpaper/4.jpg' %}" alt="Avatar"/></li>
                    <li><img class="bg-img" src="{% static 'assets/images/wallpaper/5.jpg' %}" alt="Avatar"/></li>
                    <li><img class="bg-img" src="{% static 'assets/images/wallpaper/6.jpg' %}" alt="Avatar"/></li>
                  </ul>
                </li>
                <li>
                  <h5> <a href="#">Archive all chat</a></h5>
                </li>
                <li>
                  <h5> <a href="#"> Clear all chats</a></h5>
                </li>
                <li>
                  <h5> <a class="font-danger" href="#">Delete all chats</a></h5>
                </li>
              </ul>
            </div>
            <div class="media">
              <div class="media-body">
                <h3>Chat</h3>
                <h4>Control Your Chat Backup</h4>
              </div>
              <div class="media-right"> <a class="icon-btn btn-outline-light btn-sm pull-right next" href="#"> <i data-feather="chevron-right">     </i></a></div>
            </div>
          </div>
          <div class="setting-block">
            <div class="block">
              <div class="media">
                <div class="media-body">
                  <h3>Integratin</h3>
                </div>
                <div class="media-right"> <a class="icon-btn btn-outline-light btn-sm pull-right previous" href="#"> <i data-feather="chevron-left"> </i></a></div>
              </div>
              <ul class="integratin">
                <li>
                  <div class="media">
                    <div class="media-left"> <a class="fb" href="https://www.facebook.com/login" target="_blank"><i class="fa fa-facebook"></i>
                        <h5>Facebook   </h5></a></div>
                    <div class="media-right">
                      <div class="profile"><img class="bg-img" src="{% static 'assets/images/contact/1.jpg' %}" alt="Avatar"/></div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="media">
                    <div class="media-left"> <a class="insta" href="https://www.instagram.com/accounts/login/?hl=en" target="_blank"><i class="fa fa-instagram"></i>
                        <h5>instagram</h5></a></div>
                    <div class="media-right">
                      <div class="profile"><img class="bg-img" src="{% static 'assets/images/contact/2.jpg' %}" alt="Avatar"/></div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="media">
                    <div class="media-left"> <a class="twi" href="https://twitter.com/login" target="_blank"><i class="fa fa-twitter"></i>
                        <h5>twitter   </h5></a></div>
                    <div class="media-right">
                      <div class="profile"><img class="bg-img" src="{% static 'assets/images/contact/3.jpg' %}" alt="Avatar"/></div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="media">
                    <div class="media-left"> <a class="ggl" href="https://accounts.google.com/signin/v2/identifier?service=mail&amp;passive=true&amp;rm=false&amp;continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&amp;ss=1&amp;scc=1&amp;ltmpl=default&amp;ltmplcache=2&amp;emr=1&amp;osid=1&amp;flowName=GlifWebSignIn&amp;flowEntry=ServiceLogin" target="_blank"><i class="fa fa-google"></i>
                        <h5>google   </h5></a></div>
                    <div class="media-right">
                      <div class="profile"><img class="bg-img" src="{% static 'assets/images/contact/2.jpg' %}" alt="Avatar"/></div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="media">
                    <div class="media-left"> <a class="slc" href="#"><i class="fa fa-slack"></i>
                        <h5>Slack   </h5></a></div>
                    <div class="media-right">
                      <div class="profile"><a href="https://slack.com/get-started#/" target="_blank"><i data-feather="plus-circle"></i></a></div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="media">
              <div class="media-body">
                <h3>Integratin</h3>
                <h4>Sync Your Other Social Account</h4>
              </div>
              <div class="media-right"> <a class="icon-btn btn-outline-light btn-sm pull-right next" href="#"> <i data-feather="chevron-right">       </i></a></div>
            </div>
          </div>
          <div class="setting-block">
            <div class="block">
              <div class="media">
                <div class="media-body">
                  <h3>Help</h3>
                </div>
                <div class="media-right"> <a class="icon-btn btn-outline-light btn-sm pull-right previous" href="#"> <i data-feather="chevron-left"> </i></a></div>
              </div>
              <ul class="help">
                <li>
                  <h5> <a href="#">FAQ</a></h5>
                </li>
                <li>
                  <h5> <a href="#"> Contact Us</a></h5>
                </li>
                <li>
                  <h5> <a href="#">Terms and Privacy Policy</a></h5>
                </li>
                <li>
                  <h5> <a href="#">Licenses</a></h5>
                </li>
                <li>
                  <h5> <a href="#">2019 - 20 Powered by Pixelstrap</a></h5>
                </li>
              </ul>
            </div>
            <div class="media">
              <div class="media-body">
                <h3>Help</h3>
                <h4>You are Confusion, Tell me</h4>
              </div>
              <div class="media-right"> <a class="icon-btn btn-outline-light btn-sm pull-right next" href="#"> <i data-feather="chevron-right"></i></a></div>
            </div>
          </div>
</div>