{% load static %}

<div class="status-tab custom-scroll dynemic-sidebar" id="status">
    <div class="my-status-box">
        <div class="status-content">
            <div class="media">
                <div class="img-status">
                    <div class="user-status two"><img class="img-fluid bg-img"
                                                      src="{% static 'assets/images/avtar/girls.jpg' %}" alt="status"/>
                    </div>
                    <div class="upload-img">
                        <input type="file"/>
                    </div>
                </div>
                <div class="media-body">
                    <h3>my status</h3>
                    <p>tap to add status Update</p>
                </div>
                <div><a class="icon-btn btn-outline-light btn-sm close-panel" href="#"><i data-feather="x"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-status-box">
        <div class="theme-title">
            <h3>Recent Update</h3>
        </div>
        <div class="status-content">
            <ul>
                <li class="user-status"><a class="lightbox img-status status" href="#statusbox"><img
                        class="img-fluid bg-img" src="{% static 'assets/images/status-img/small/sm-1.jpg' %}"
                        alt="status"/></a>
                    <div class="lightbox-target" id="statusbox"><img
                            src="{% static 'assets/images/status-img/large/lg-1.jpg' %}" alt="status"/><a
                            class="lightbox-close" href="#"></a></div>
                </li>
                <li>
                    <h5>Josephin water</h5>
                    <p>today , 8:30am</p>
                </li>
            </ul>
        </div>
        <div class="status-content">
            <ul>
                <li class="user-status"><a class="lightbox img-status status" href="#statusbox2"><img
                        class="img-fluid bg-img" src="{% static 'assets/images/status-img/small/sm-2.jpg' %}"
                        alt="status"/></a>
                    <div class="lightbox-target" id="statusbox2"><img
                            src="{% static 'assets/images/status-img/large/lg-2.jpg' %}" alt="status"/><a
                            class="lightbox-close" href="#"></a></div>
                </li>
                <li>
                    <h5>Jony Lynetin</h5>
                    <p>today , 10:30am</p>
                </li>
            </ul>
        </div>
    </div>
</div>